<div class="row">
    <div  class="col-sm-12">
        <form [formGroup]="newVehicleForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-long-arrow-alt-left"></i></button>
                    <h3 class="mt-4">Vehicle Details</h3>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Name<span class="text-danger">*</span></label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Enter Name" required>
                        <small *ngIf="newVehicleForm.controls.name.errors?.required && newVehicleForm.controls.name.touched" class="form-text text-danger">*Required</small>
                    </div>
                    <div class="form-group">
                        <label for="brand">Brand<span class="text-danger">*</span></label>
                        <input type="text" formControlName="brand" class="form-control" placeholder="Enter Brand" required>
                        <small *ngIf="newVehicleForm.controls.brand.errors?.required && newVehicleForm.controls.brand.touched" class="form-text text-danger">*Required</small>
                    </div>
                    <div class="form-group">
                        <label for="model">Model<span class="text-danger">*</span></label>
                        <input type="text" formControlName="model" class="form-control" placeholder="Enter Model" required>
                        <small *ngIf="newVehicleForm.controls.model.errors?.required && newVehicleForm.controls.model.touched" class="form-text text-danger">*Required</small>
                    </div>
                    <div class="form-group">
                        <label for="yearOfProduction">Year Of Production<span class="text-danger">*</span></label>
                        <input type="text" formControlName="yearOfProduction" class="form-control" placeholder="Enter Year Of Production" required>
                        <small *ngIf="newVehicleForm.controls.yearOfProduction.errors?.required && newVehicleForm.controls.yearOfProduction.touched" class="form-text text-danger">*Required</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="numberOfSeats">Number Of Seats<span class="text-danger">*</span></label>
                        <ng-select [items]="numberOfSeats" formControlName="numberOfSeats">
                        </ng-select>
                        <small *ngIf="newVehicleForm.controls.numberOfSeats.errors?.required && newVehicleForm.controls.numberOfSeats.touched" class="form-text text-danger">*Required</small>
                    </div>
                    <div class="form-group">
                        <label for="type">Type<span class="text-danger">*</span></label>
                        <ng-select [items]="types" formControlName="type">
                        </ng-select>
                        <small *ngIf="newVehicleForm.controls.type.errors?.required && newVehicleForm.controls.type.touched" class="form-text text-danger">*Required</small>
                    </div>
                    <div class="form-group">
                        <label for="pricePerDay">Price Per Day<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" formControlName="pricePerDay" class="form-control" placeholder="Enter Price Per Day" required>
                            <div class="input-group-append">
                                    <div class="input-group-text">€</div>
                            </div>

                        </div>
                        <small *ngIf="newVehicleForm.controls.pricePerDay.errors?.required && newVehicleForm.controls.pricePerDay.touched" class="form-text text-danger">*Required</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="text" formControlName="image" class="form-control" placeholder="Enter Image Name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" [disabled]="!newVehicleForm.valid" class="btn btn-primary">Save Changes</button>
                    <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
  </div>
