  <!-- Kada se doda autentifikacija menjace se izgled ove komponente -->
  <div *ngIf="info.token; else loggedOut"  class="navbar-nav">
    <!-- Rec Rentacar iz Rentacar Admin linka ce biti uklonjena kada se implementiraju svi paneli,
       jer ce se u komponenti admin panela proveriti ko je ulogovan i pozvace se adekvatna komponenta -->
    <a *ngIf="token.isSysAdmin()" class="nav-item nav-link" routerLink="/admin-dashboard">Admin</a>
    <a *ngIf="token.isRentacar()" class="nav-item nav-link" routerLink="/rentacar-dashboard">Rentacar Admin</a>
    <a *ngIf="token.isAircompany()" class="nav-item nav-link" routerLink="/aircompany-dashboard">AirCompany Admin</a>
    <a *ngIf="token.isHotel()" class="nav-item nav-link" routerLink="/admin-dashboard">Hotel Admin</a>
    <a *ngIf="token.isUser()" class="nav-item nav-link" routerLink="/user-dashboard">User</a>
    <p *ngIf="info">{{info.username}}</p>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>

  </div>
  <ng-template #loggedOut>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/login"><i class="fas fa-sign-in-alt icon"></i>Login</a>
      <a class="nav-item nav-link" routerLink="/register"><i class="fas fa-user-plus icon"></i>Register</a>
    </div>
  </ng-template>

