<!-- <div class="row admin-dashboard">
  <div class="col-12 text-center">
    <h6>Admin Dashboard</h6>
  </div>
</div> -->
<div class="row admin-dashboard">
  <div class="col-3">
      <nav class="nav flex-column">
          <a class="nav-link" routerLink="company-profile">Company Profile</a>
          <a class="nav-link" routerLink="vehicles">Vehicles</a>
          <a class="nav-link" routerLink="branches">Branch Offices</a>
          <a class="nav-link" routerLink="user-profile">Profile settings</a>
          <a class="nav-link" href="#">Reports</a>
        </nav>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
</div>
