<div class="row mt-4 mb-4">
  <div class="col-12">
      <h3>Company Details</h3>
  </div>
</div>
<div *ngIf="aircompany" class="row">
<div  class="col-sm-6">
    <form *ngIf="aircompany | async; else loading" [formGroup]="aircompanyProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Company Name<span class="text-danger">*</span></label>
        <input type="email" formControlName="name" class="form-control" placeholder="Enter Name" required>
        <small *ngIf="aircompanyProfileForm.controls.name.errors?.required && aircompanyProfileForm.controls.name.touched" class="form-text text-danger">*Required</small>
      </div>
      <div class="form-group" hidden>
        <input type="text" formControlName="address" class="form-control" placeholder="Enter Address" required>
        <!-- <app-google-maps></app-google-maps> -->
      </div>
      <div class="form-group">
        <label for="textAddress">Company Address<span class="text-danger">*</span></label>
        <div class="input-group mb-2">
          <input type="text" formControlName="textAddress" class="form-control" placeholder="Enter Address" (keydown.enter)="$event.preventDefault(); searchAddress()" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="searchAddress()">Search</button>
          </div>
        </div>
        <small *ngIf="aircompanyProfileForm.controls.address.errors?.required && aircompanyProfileForm.controls.address.touched" class="form-text text-danger">Click on the map to select address</small>
        <app-location-map [defaultCoords]="_address" [addressTyped]="searchForAddress" (selectedCoords)="onSelectedCoordsChange($event)" (selectedAddress)="onSelectedAddressChange($event)"></app-location-map>
      </div>
      <div class="form-group">
        <label for="description">Short Description <span class="text-muted">(max: 160 characters)</span></label>
        <textarea rows="4" formControlName="description" class="form-control" placeholder="A few words about your company..." maxlength="160"></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image<span class="text-danger">*</span></label>
        <input type="text" formControlName="image" class="form-control" placeholder="Image name" required>
      </div>
      <button type="submit" [disabled]="!aircompanyProfileForm.valid" class="btn btn-primary">Save Changes</button>
      <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
    </form>
</div>
</div>
