<div class="row">
    <div  class="col-sm-12">
        <form *ngIf="specialOffer | async; else loading" [formGroup]="updateSpecialOfferForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-long-arrow-alt-left"></i></button>
                    <h3 class="mt-4">Special Offer Details</h3>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="title">Title<span class="text-danger">*</span></label>
                        <input type="text" formControlName="title" class="form-control" placeholder="Enter Title" required>
                        <small *ngIf="updateSpecialOfferForm.controls.title.errors?.required && updateSpecialOfferForm.controls.title.touched" class="form-text text-danger">*Required</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="percentage">Percentage<span class="text-danger">*</span></label>
                        <input type="text" formControlName="percentage" class="form-control" placeholder="Enter Percentage" required>
                        <small *ngIf="updateSpecialOfferForm.controls.price.errors?.required && updateSpecialOfferForm.controls.price.touched" class="form-text text-danger">*Required</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" [disabled]="!updateSpecialOfferForm.valid" class="btn btn-primary">Save Changes</button>
                    <button *ngIf="specialOffer | async as specialOffer" type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
  </div>
