<div class="row">
  <div  class="col-sm-12">
      <form [formGroup]="newRentacarForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col-6">
                  <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-long-arrow-alt-left"></i></button>
                  <h3 class="mt-4">Rentacar Details</h3>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="name">Name<span class="text-danger">*</span></label>
                      <input type="text" formControlName="name" class="form-control" placeholder="Enter Name" required>
                      <small *ngIf="newRentacarForm.controls.name.errors?.required && newRentacarForm.controls.name.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                      <label for="address">Address<span class="text-danger">*</span></label>
                      <input type="text" formControlName="address" class="form-control" placeholder="Enter Address" required>
                      <small *ngIf="newRentacarForm.controls.address.errors?.required && newRentacarForm.controls.address.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                      <label for="description">Description</label>
                      <input type="text" formControlName="description" class="form-control" placeholder="Enter Description" required>
                      <small *ngIf="newRentacarForm.controls.description.errors?.required && newRentacarForm.controls.description.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                    <label for="image">Image</label>
                    <input type="text" formControlName="image" class="form-control" placeholder="Image File Name">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <button type="submit" [disabled]="!newRentacarForm.valid" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
              </div>
          </div>
      </form>
  </div>
</div>
