<div class="row">
  <div  class="col-sm-12">
      <form [formGroup]="newRoomForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col-6">
                  <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-long-arrow-alt-left"></i></button>
                  <h3 class="mt-4">Room Details</h3>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="number">Number<span class="text-danger">*</span></label>
                      <input type="text" formControlName="number" class="form-control" placeholder="Enter Number" required>
                      <small *ngIf="newRoomForm.controls.number.errors?.required && newRoomForm.controls.number.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                      <label for="noOfBeds">Number of Beds<span class="text-danger">*</span></label>
                      <input type="text" formControlName="noOfBeds" class="form-control" placeholder="Enter Number of Beds" required>
                      <small *ngIf="newRoomForm.controls.noOfBeds.errors?.required && newRoomForm.controls.noOfBeds.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                      <label for="floor">Floor<span class="text-danger">*</span></label>
                      <input type="text" formControlName="floor" class="form-control" placeholder="Enter Floor" required>
                      <small *ngIf="newRoomForm.controls.floor.errors?.required && newRoomForm.controls.floor.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                    <label for="type">Type<span class="text-danger">*</span></label>
                    <input type="text" formControlName="type" class="form-control" placeholder="Enter Type" required>
                    <small *ngIf="newRoomForm.controls.type.errors?.required && newRoomForm.controls.type.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                    <label for="image">Image</label>
                    <input type="text" formControlName="image" class="form-control" placeholder="Enter Image Name" required>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <button type="submit" [disabled]="!newRoomForm.valid" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
              </div>
          </div>
      </form>
  </div>
</div>
