<nav *ngIf="!checkReservation()" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="profile">airTickets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/flight-reservations"><i class="fas fa-plane icon"></i>Flights</a>
      <a class="nav-item nav-link" routerLink="/hotels"><i class="fas fa-hotel icon"></i>Hotels</a>
      <a class="nav-item nav-link" routerLink="/rentacars"><i class="fas fa-car icon"></i>Rentacars</a>
    </div>
    <app-login-widget></app-login-widget>
  </div>

</nav>
<nav *ngIf="checkReservation()" class="navbar">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary  btn-block" routerLink="./hotels">Hotels</button>
    </div>
    <div class="col">
      <button class="btn btn-success btn-block" routerLink="./rentacars">Rentacars</button>
    </div>
    <div class="col">
      <button class="btn btn-secondary btn-block" (click)="exitReservation()">Exit Room/Car Reservation</button>
    </div>
  </div>
</nav>

