<div class="row">
  <div  class="col-sm-12">
      <form [formGroup]="newRoomPriceForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col-6">
                  <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-long-arrow-alt-left"></i></button>
                  <h3 class="mt-4">Room price new</h3>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col">
                <div class="form-group">
                  <label>Room</label>
                  <ng-select [items]="roomsItem"
                    bindLabel="number"
                    bindValue="id" formControlName="roomCh">
                  </ng-select>
                  <small *ngIf="newRoomPriceForm.controls.roomCh.errors?.required && newRoomPriceForm.controls.roomCh.touched" class="form-text text-danger">*Required</small>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="price">Price<span class="text-danger">*</span></label>
                      <input type="text" formControlName="price" class="form-control" placeholder="Enter Price" required>
                      <small *ngIf="newRoomPriceForm.controls.price.errors?.required && newRoomPriceForm.controls.price.touched" class="form-text text-danger">*Required</small>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="placeFromId">Date<span class="text-danger">*</span></label>
                      <input class="form-control" placeholder="Pick Date Range"
                              [style.width]="'350px'"
                              [selectMode]="'range'"
                              [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1"
                              formControlName="datePeriod">

                      <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                    </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <button type="submit" [disabled]="!newAmenityForm.valid" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
              </div>
          </div>
      </form>
  </div>
</div>
