<div class="row">
  <div class="col">
    <h3>Seat Selection</h3>
    <!-- <h6>Odabrana avio kompanija za let TAMO: {{selectedFlightsDep.aircompanyId}} | {{selectedFlightsDep.id}}</h6>
    <h6>Odabrana avio kompanija za let OVAMO: {{selectedFlightsRet.aircompanyId}} | {{selectedFlightsRet.id}}</h6> -->
  </div>
</div>
<div class="row mt-4">
  <div class="col-5">
      <h5 class="text-center pb-3">Departure Flight</h5>
      <p>(Select <strong>{{passengers}}</strong> Seats)</p>
    <div class="row">
      <div *ngFor="let seatDep of seatsDeparture" class="col-2">
        <div class="card mb-4" id="checkboxes" [ngClass]="isSelectedDep(seatDep.id) ? 'selectedSeat' : ''" for="blankCheckbox">
          <label>
            <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                        <span [ngClass]="(seatDep.clientId !=null) ? 'disabledBox' : ''" class="badge text-center">{{seatDep.mark}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                        <input [disabled]="(seatDep.clientId !=null)" class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="{{seatDep.id}}" (click)="selectSeatDep(seatDep.id, $event)">
                    </div>
                  </div>
              </div>
          </label>  
        </div>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
  <div class="col-5">
      <h5 class="text-center pb-3">Return Flight</h5>
      <p>(Select <strong>{{passengers}}</strong> Seats)</p>
    <div class="row">
      <div *ngFor="let seatRet of seatsReturn" class="col-2">
        <div class="card mb-4" id="checkboxes" [ngClass]="isSelectedRet(seatRet.id) ? 'selectedSeat' : ''" for="blankCheckbox">
          <label>
            <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                        <span [ngClass]="(seatRet.clientId !=null) ? 'disabledBox' : ''" class="badge text-center">{{seatRet.mark}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                        <input [disabled]="(seatRet.clientId !=null)" class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="{{seatRet.id}}" (click)="selectSeatRet(seatRet.id, $event)">
                    </div>
                  </div>
              </div>
          </label>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10">
  </div>
  <div class="col-2">
      <button [disabled]="!((selectedSeatsRet.length == passengers) && (selectedSeatsDep.length == passengers))" type="submit" class="btn btn-success" (click)="goToPassengersDetails()">Next</button>
  </div>
</div>

<div class="row">
  <div class="col">
      <app-passengers-details [selectedSeatsDep]="selectedSeatsDep" [selectedSeatsRet]="selectedSeatsRet"></app-passengers-details>
  </div>
</div>

<!--
<div class="row">
    <div  class="col">
        <div class="row">
          <h3>Passengers</h3>
          <form  [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
          <h6>Passenger 1</h6>
        </div>
        <div class="row">
            <div  class="col">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" placeholder="Enter first name">
                </div>
            </div>
            <div  class="col">
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" placeholder="Enter last name">
              </div>
            </div>
        </div>
        <div class="row">
            <div  class="col">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" formControlName="city" class="form-control" placeholder="Enter city">
                </div>
            </div>
            <div  class="col">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" formControlName="phone" class="form-control" placeholder="Enter phone">
                </div>
            </div>
        </div>
        <div class="row">

          <button type="submit" [disabled]="!userProfileForm.valid" class="btn btn-primary">Next</button>
        </div>
        </form>
    </div>
  </div>
-->



