<div  class="col-sm-12">
    <form [formGroup]="newFlightForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-long-arrow-alt-left"></i></button>
                <h3 class="mt-4">Flight Details</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">

                <div class="form-group">
                    <input class="form-control" placeholder="Date Time Range:"
                            [style.width]="'350px'"
                            [selectMode]="'range'"
                            [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
                    <owl-date-time #dtRange1></owl-date-time>
                </div>

                <div class="form-group">
                    <label for="placeFromId">Place from<span class="text-danger">*</span></label>
                    <ng-select [items]="airportsFrom" formControlName="placeFromId" bindLabel="id" bindValue="id"></ng-select>
                    <small *ngIf="newFlightForm.controls.placeFromId.errors?.required && newFlightForm.controls.placeFromId.touched" class="form-text text-danger">*Required</small>
                </div>
                <div class="form-group">
                  <label for="price">Price<span class="text-danger">*</span></label>
                  <div class="input-group">
                      <input type="text" formControlName="price" class="form-control" placeholder="Enter price" required>
                      <div class="input-group-append">
                              <div class="input-group-text">€</div>
                      </div>
                  </div>
                  <small *ngIf="newFlightForm.controls.price.errors?.required && newFlightForm.controls.price.touched" class="form-text text-danger">*Required</small>
                </div>
            </div>
            <div class="col-md-4">


                <div class="form-group">
                    <label for="timeEnd">Time end<span class="text-danger">*</span></label>
                    <my-date-picker [options]="myDatePickerOptions" formControlName="timeEnd"></my-date-picker>
                    <small *ngIf="newFlightForm.controls.timeEnd.errors?.required && newFlightForm.controls.timeEnd.touched" class="form-text text-danger">*Required</small>
                </div>


                <div class="form-group">
                    <label for="placeToId">Place to<span class="text-danger">*</span></label>
                    <ng-select [items]="airportsTo" bindLabel="id" bindValue="id" formControlName="placeToId"></ng-select>
                    <small *ngIf="newFlightForm.controls.placeToId.errors?.required && newFlightForm.controls.placeToId.touched" class="form-text text-danger">*Required</small>
                </div>
                <div class="form-group">
                    <label for="loweredPrice">Lowered price<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="text" formControlName="loweredPrice" class="form-control" placeholder="Enter Lowered price" required>
                        <div class="input-group-append">
                                <div class="input-group-text">€</div>
                        </div>
                    </div>
                    <small *ngIf="newFlightForm.controls.loweredPrice.errors?.required && newFlightForm.controls.loweredPrice.touched" class="form-text text-danger">*Required</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="distance">Distance<span class="text-danger">*</span></label>
                    <input type="text" formControlName="distance" class="form-control" placeholder="Enter Distance" required>
                    <small *ngIf="newFlightForm.controls.distance.errors?.required && newFlightForm.controls.distance.touched" class="form-text text-danger">*Required</small>
                </div>
                <div class="form-group">
                    <label for="airplaneType">Airplane type</label>
                    <ng-select [items]="types" formControlName="airplaneType"></ng-select>
                    <small *ngIf="newFlightForm.controls.airplaneType.errors?.required && newFlightForm.controls.airplaneType.touched" class="form-text text-danger">*Required</small>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" [disabled]="!newFlightForm.valid" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
