<div class="row mt-4 mb-4">
  <div class="col-10">
      <h3>Rentacar Services</h3>
  </div>
</div>
<div  class="col-sm-10">
  <form [formGroup]="rentacarSearchForm">

    <div class="row">
        <div class="col">
            <label>Rentacar Name</label>
            <ng-select [items]="rentacars"
              bindLabel="name"
              autofocus
              bindValue="id"
              formControlName="rentacarName">
            </ng-select>
        </div>
        <div class="col">
            <label>Location</label>
            <ng-select [items]="locations"
              formControlName="rentacarLocation">
            </ng-select>
        </div>
        <div class="col">
          <label>From date</label>
          <my-date-picker [options]="myDatePickerOptions" formControlName="dateFrom"></my-date-picker>
        </div>
        <div class="col">
            <label>To date</label>
            <my-date-picker [options]="myDatePickerOptions" formControlName="dateTo"></my-date-picker>
        </div>

        <div class="col align-self-end">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
  </div>
  </form>

</div>
