<div class="row admin-dashboard">
  <div class="col-3">
      <nav class="nav flex-column">
          <a class="nav-link" routerLink="aircompanies">Aircompanies</a>
          <a class="nav-link" routerLink="airports">Airports</a>
          <a class="nav-link" routerLink="hotels">Hotels</a>
          <a class="nav-link" routerLink="rentacars">Rentacars</a>
          <a class="nav-link" routerLink="user-profile">Profile Settings</a>
        </nav>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
</div>
