<div class="row mt-4 mb-4">
    <div class="col-6 text-center">
        <img src="../../../assets/img/hotel/{{hotel.image}}.png" class="card-img-top company-logo" alt="Logo of {{hotel.name}}">
    </div>
    <div class="col-6 align-self-center">
        <h1>{{hotel.name}}</h1>
        <p>
          <ngb-rating [rate]="hotelRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          <i class="fas fa-map-marker-alt ml-2"></i> {{hotel.address}}</p>
        <p class="text-secondary">{{hotel.description}}</p>
    </div>
</div>
  <div class="row mt-4 mb-4">

    <div class="col-sm-12">
      <form [formGroup]="hotelRoomForm" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col">
            <div class="form-group">
                <label for="placeFromId">Date<span class="text-danger">*</span></label>
                <input class="form-control" placeholder="Pick Date Range"
                        [selectMode]="'range'"
                        [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1"
                        formControlName="datePeriod">

                <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
              </div>
          </div>

          <div class="col">
            <div class="form-group">
                <label for="guest">Number of Quests<span class="text-danger">*</span></label>
                <input type="text" formControlName="guest" class="form-control" placeholder="Enter Name">
                <small *ngIf="hotelRoomForm.controls.guest.errors?.required && hotelRoomForm.controls.guest.touched" class="form-text text-danger">*Required</small>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="numberOfrooms1">Number Of Single Rooms</label>
                    <ng-select [items]="numberOfrooms" formControlName="numberOfrooms1">
                    </ng-select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="numberOfrooms2">Number Of Double Rooms</label>
                    <ng-select [items]="numberOfrooms" formControlName="numberOfrooms2">
                    </ng-select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="numberOfrooms3">Number Of Twin Rooms</label>
                    <ng-select [items]="numberOfrooms" formControlName="numberOfrooms3">
                    </ng-select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="numberOfrooms4">Number Of Quad Rooms</label>
                    <ng-select [items]="numberOfrooms" formControlName="numberOfrooms4">
                    </ng-select>
                </div>
            </div>
          </div>
        <!-- <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="minprice">Min price<span class="text-danger">*</span></label>
                    <input type="text" formControlName="minprice" class="form-control" placeholder="Enter price">
                    <small *ngIf="hotelRoomForm.controls.minprice.errors?.required && hotelRoomForm.controls.minprice.touched" class="form-text text-danger">*Required</small>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="maxprice">Max price<span class="text-danger">*</span></label>
                    <input type="text" formControlName="maxprice" class="form-control" placeholder="Enter price">
                    <small *ngIf="hotelRoomForm.controls.maxprice.errors?.required && hotelRoomForm.controls.maxprice.touched" class="form-text text-danger">*Required</small>
                </div>
            </div>
          </div> -->
        <div class="row">
          <div class="col">
                  <button [disabled]="!hotelRoomForm.valid" type="submit" class="btn btn-primary mt-4">Find room</button>
              </div>
          </div>
    </form>

    </div>
  </div>

  <div *ngIf="rooms.length > 0" class="row mt-4 mb-4 searchResults">
      <div class="col-9">
        <h4 class="mt-4"> Search Results: </h4>
        <div class="row">
          <div *ngFor="let room of rooms" class="col-sm-3">
            <div class="card cursor-pointer" (click)="onSelectRoom(room)" [ngClass]="isRoomSelected(room) ? 'selectedRoom' : ''">
              <img src="../../../assets/img/room/{{room.image}}.jpg" class="card-img-top">
              <div class="card-body text-center">
                <h5 class="card-title">No. {{room.number}}</h5>
                <ngb-rating class="mt-2" [rate]="1.5" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                <p class="reservationDate mt-2">{{room.type}}</p>
                <div class="row">
                  <div class="col-md-6">
                    <p class="card-text"><i class="far fa-building mr-2"></i>{{room.floor}}</p>
                  </div>
                  <div class="col-md-6">
                    <p class="card-text"><i class="fas fa-bed mr-2"></i>{{room.noOfBeds}}</p>
                  </div>
                </div>
                <h6 class="oldPrice"><span class="badge badge-light">{{room.pricePerDay}}€/day</span></h6>
                <h5 class="loweredPrice"><span class="badge badge-primary">{{room.price}}€</span></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <h4 class="mt-4 mb-2"> Amenities</h4>
            <ng-select
                [items]="amenities"
                [multiple]="true"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="selectedAmenities"
                [hideSelected]="true"
                [closeOnSelect]="false"
                [searchable]="false"
                (add)="onAddAmenity($event)"
                (remove)="onRemoveAmenity($event)"
                (clear)="onClearAmenities()"
                placeholder="Select amenities">

                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                    <span class="badge badge-primary mx-1 my-1">{{item.price}}€</span>
                    {{item.title}}
                    <!-- <span class="ng-value-label"><img [src]="item.avatar_url" width="20px" height="20px"> {{item.login}}</span> -->
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                </ng-template>

                <ng-template ng-option-tmp let-item="item">
                    <!-- <img [src]="item.avatar_url" width="20px" height="20px"> {{item.login}} -->
                    <span class="badge badge-primary mx-1 my-1">{{item.price}}€</span>
                    {{item.title}}
                </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div *ngIf="selectedRoomsObj.length > 0 || selectedAmenitiesObj.length > 0" class="row mt-4 mx-1 px-4 py-4 bg-white">
          <div class="col">
            <h3 class="mb-4">Hotel Reservation</h3>
            <table class="table">
              <tbody>
                <tr *ngIf="selectedRoomsObj.length > 0">
                  <td class="align-middle"><span class="text-uppercase font-weight-bold">Rooms</span></td>
                  <td class="align-middle"></td>
                </tr>
                <tr *ngFor="let selectedRoom of selectedRoomsObj">
                  <td class="align-middle">No. {{selectedRoom.number}}</td>
                  <td class="align-middle text-right">{{selectedRoom.price}}€</td>
                </tr>
                <tr *ngIf="selectedAmenitiesObj.length > 0">
                  <td class="align-middle"><span class="text-uppercase font-weight-bold">Amenities</span></td>
                  <td class="align-middle"></td>
                </tr>
                <tr *ngFor="let amenity of selectedAmenitiesObj">
                  <td class="align-middle">{{amenity.title}}</td>
                  <td class="align-middle text-right">{{amenity.price}}€</td>
                </tr>
                <tr class="bt-b">
                  <td class="align-middle font-weight-bold">TOTAL</td>
                  <td class="align-middle text-right"><b>{{amenitySum + roomsSum}}€</b></td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-success btn-block mt-4" type="button" (click)="makeReservation()" [disabled]="(selectedRoomsObj.length === 0) || !isAfterFlightReservation()">Make Reservation</button>
            <p class="reservationDate mt-2" *ngIf="!isAfterFlightReservation()">Login / Book a flight before booking a room</p>
          </div>
        </div>
      </div>
  </div>
  <ng-container *ngIf="userLoggedIn">
    <h4 class="mt-4"> Quick Reservations: </h4>
    <div class="row">
      <div *ngFor="let roomReservation of roomReservations" class="col-sm-3 rentacar">
        <div class="card">
            <img src="../../../assets/img/room/{{roomReservation.image}}.jpg" class="card-img-top" alt="Picture of {{roomReservation.number}}">
          <div class="card-body text-center">
            <h5 class="card-title">No. {{roomReservation.number}}</h5>
            <p class="text-center mt-2"><ngb-rating [rate]="1.5" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating></p>
            <p class="reservationDate mt-2">{{roomReservation.from | date: 'MMM d, y'}} - {{roomReservation.to | date: 'MMM d, y'}}</p>
            <p class="reservationDate mt-2">{{roomReservation.type}}</p>
            <div class="row">
              <div class="col-md-6">
                <p class="card-text"><i class="far fa-building mr-2"></i>{{roomReservation.floor}}</p>
              </div>
              <div class="col-md-6">
                <p class="card-text"><i class="fas fa-bed mr-2"></i>{{roomReservation.noOfBeds}}</p>
              </div>
            </div>
            <h6 class="oldPrice"><span class="badge badge-light">{{roomReservation.pricePerDay}}€</span></h6>
            <button [disabled]="!isAfterFlightReservation()" class="btn btn-primary mt-4" type="button" (click)="makeQuickReservation(roomReservation)">Make Reservation</button>
            <p class="reservationDate mt-2" *ngIf="!isAfterFlightReservation()">Login / Book a flight before booking a room</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #t let-fill="fill">
      <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
      </span>
  </ng-template>
