<div class="row mt-4 mb-4">
    <!-- *ngIf="rentacarObservable | async; else loading"  -->
    <div class="col">
        <h3>Hotel details</h3>
    </div>
  </div>
  <div class="row mt-4 mb-4">

    <div class="col-sm-12">
      <form [formGroup]="hotelRoomForm" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col">
            <div class="form-group">
                <label for="placeFromId">Date<span class="text-danger">*</span></label>
                <input class="form-control" placeholder="Pick Date Range"
                        [selectMode]="'range'"
                        [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1"
                        formControlName="datePeriod">

                <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
              </div>
          </div>

          <div class="col">
            <div class="form-group">
                <label for="guest">Number of Quests<span class="text-danger">*</span></label>
                <input type="text" formControlName="guest" class="form-control" placeholder="Enter Name">
                <small *ngIf="hotelRoomForm.controls.guest.errors?.required && hotelRoomForm.controls.guest.touched" class="form-text text-danger">*Required</small>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="numberOfrooms1">Number Of Single Rooms</label>
                    <ng-select [items]="numberOfrooms" formControlName="numberOfrooms1">
                    </ng-select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="numberOfrooms2">Number Of Double Rooms</label>
                    <ng-select [items]="numberOfrooms" formControlName="numberOfrooms2">
                    </ng-select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="numberOfrooms3">Number Of Twin Rooms</label>
                    <ng-select [items]="numberOfrooms" formControlName="numberOfrooms3">
                    </ng-select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="numberOfrooms4">Number Of Quad Rooms</label>
                    <ng-select [items]="numberOfrooms" formControlName="numberOfrooms4">
                    </ng-select>
                </div>
            </div>
          </div>
        <!-- <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="minprice">Min price<span class="text-danger">*</span></label>
                    <input type="text" formControlName="minprice" class="form-control" placeholder="Enter price">
                    <small *ngIf="hotelRoomForm.controls.minprice.errors?.required && hotelRoomForm.controls.minprice.touched" class="form-text text-danger">*Required</small>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="maxprice">Max price<span class="text-danger">*</span></label>
                    <input type="text" formControlName="maxprice" class="form-control" placeholder="Enter price">
                    <small *ngIf="hotelRoomForm.controls.maxprice.errors?.required && hotelRoomForm.controls.maxprice.touched" class="form-text text-danger">*Required</small>
                </div>
            </div>
          </div> -->
        <div class="row">
          <div class="col">
                  <button [disabled]="!hotelRoomForm.valid" type="submit" class="btn btn-primary mt-4">Find room</button>
              </div>
          </div>
    </form>

    </div>
  </div>

  <div class="row mt-4 mb-4">
      <div *ngFor="let room of rooms" class="col-sm-4 rentacar">
          <div class="card text-center">
  
            <div class="card-body">
              <h5 class="card-title">NO:{{room.number}}</h5>
              <p>floor: {{room.floor}}</p>
              <p>beds: {{room.noOfBeds}}</p>
              <p>type: {{room.type}}</p>
            </div>
          </div>
      </div>
  </div>
  <ng-container *ngIf="userLoggedIn">
    <h4 class="mt-4"> Quick Reservations: </h4>
    <div class="row">
      <div *ngFor="let roomReservation of roomReservations" class="col-sm-3 rentacar">
        <div class="card">
            <!-- <img src="../../../assets/img/vehicle/{{carReservation.image}}" class="card-img-top" alt="Picture of {{carReservation.brand}}"> -->
          <div class="card-body text-center">
            <h5 class="card-title">{{roomReservation.id}}</h5>
            <!-- <p class="reservationDate mt-2">{{carReservation.dateFrom | date: 'MMM d, y'}} - {{carReservation.dateTo | date: 'MMM d, y'}}</p> -->
            <div class="row">
              <div class="col-md-6">
                <p class="card-text"><i class="fas fa-ellipsis-v mr-2"></i>{{roomReservation.floor}}</p>
              </div>
              <div class="col-md-6">
                <p class="card-text"><i class="fas fa-bed mr-2"></i>{{roomReservation.noOfBeds}}</p>
              </div>
            </div>
            <!-- <h6 class="card-subtitle mb-2 text-muted oldPrice"><s>{{carReservation.price}}€</s></h6> -->
            <!-- <h5 class="activePrice"><span class="badge badge-warning ml-1">{{carReservation.pricePerDay}}€</span></h5> -->
            <button class="btn btn-primary mt-4" type="button" (click)="reserveVehicle(vehicle)">Reserve</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>