<div class="row mt-4 mb-4">
  <div class="col-10">
      <h3>Hotel Services</h3>
  </div>
</div>
<div class="row mt-4 mb-4">

  <div  class="col-sm-10">
    <form [formGroup]="hotelSearchForm" (ngSubmit)="onSubmit()">

      <div class="row">
          <div class="col">
              <label>Hotel Name</label>
              <ng-select  [items]="hotelsPermanent"
                bindLabel="name"
                autofocus
                bindValue="name"
                formControlName="hotelName">
              </ng-select>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="locations">Locations</label>
                <ng-select [items]="locations" formControlName="hotelLocation">
                </ng-select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label>Select Date Period</label>
                <input class="form-control" placeholder="Choose Dates"
                        [style.width]="'350px'"
                        [selectMode]="'range'"
                        [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1" formControlName="datePeriod">
                <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
            </div>
          </div>
          <div class="col align-self-end">
            <div class="form-group">
              <button type="submit" [disabled]="!hotelSearchForm.valid" class="btn btn-primary">Search</button>
            </div>
          </div>
    </div>
    </form>

  </div>
</div>

<div *ngIf="hotels.length > 0" class="row mt-4 mb-4">
  <div *ngFor="let hotel of hotels" class="col-sm-4 hotel">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{hotel.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{hotel.address}}</h6>
          <!-- <a class="card-link" routerLink="hotels-details/{{hotel.id}}">Select</a> -->
        </div>
      </div>
  </div>
</div>

<div *ngIf="hotelsRes.length > 0" class="row mt-4 mb-4">
  <div *ngFor="let hotel of hotelsRes" class="col-sm-4 hotel">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{hotel.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{hotel.address}}</h6>
          <a class="card-link" routerLink="hotels/hotel-details/1">Select</a>
        </div>
      </div>
  </div>
</div>

