<div class="row aircompany-dashboard">
  <div class="col-2">
      <nav class="nav flex-column">
          <a class="nav-link" routerLink="aircompany-profile">Company Profile</a>
          <a class="nav-link" routerLink="flights">Flights</a>
          <a class="nav-link" routerLink="flight-rating">Ratings</a>
          <a class="nav-link" routerLink="user-profile">Profile settings</a>
          <a class="nav-link" routerLink="reports-air">Reports</a>
        </nav>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
</div>
