<div *ngIf="flight" class="row">
  <div  class="col-sm-12">
      <form [formGroup]="flightDetailsForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col-6">
                  <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-long-arrow-alt-left"></i></button>
                  <h3 class="mt-4">Flight Details</h3>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="placeFromId">Date<span class="text-danger">*</span></label>
                      <input class="form-control" placeholder="Date Time Range:"
                              [selectMode]="'range'"
                              [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1"
                              formControlName="datePeriod"
                              [min]="todayDate">

                      <owl-date-time #dtRange1></owl-date-time>
                  </div>
                  <div class="form-group">
                      <label for="placeFromId">Place from<span class="text-danger">*</span></label>
                      <ng-select [items]="airportsFrom" bindLabel="city" bindValue="id" formControlName="placeFromId"></ng-select>
                      <small *ngIf="flightDetailsForm.controls.placeFromId.errors?.required && flightDetailsForm.controls.placeFromId.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                    <label for="price">Price<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="text" formControlName="price" class="form-control" placeholder="Enter price" required>
                        <div class="input-group-append">
                                <div class="input-group-text">€</div>
                        </div>
                    </div>
                    <small *ngIf="flightDetailsForm.controls.price.errors?.required && flightDetailsForm.controls.price.touched" class="form-text text-danger">*Required</small>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="placeToId">Place to<span class="text-danger">*</span></label>
                      <ng-select [items]="airportsTo" bindLabel="city" bindValue="id" formControlName="placeToId"></ng-select>
                      <small *ngIf="flightDetailsForm.controls.placeToId.errors?.required && flightDetailsForm.controls.placeToId.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                      <label for="loweredPrice">Lowered price</label>
                      <div class="input-group">
                          <input type="text" formControlName="loweredPrice" class="form-control" placeholder="Enter Lowered price">
                          <div class="input-group-append">
                                  <div class="input-group-text">€</div>
                          </div>
                      </div>
                      <small *ngIf="flightDetailsForm.controls.loweredPrice.errors?.required && flightDetailsForm.controls.loweredPrice.touched" class="form-text text-danger">*Required</small>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="distance">Distance<span class="text-danger">*</span></label>
                      <input type="text" formControlName="distance" class="form-control" placeholder="Enter Distance" required>
                      <small *ngIf="flightDetailsForm.controls.distance.errors?.required && flightDetailsForm.controls.distance.touched" class="form-text text-danger">*Required</small>
                  </div>
                  <div class="form-group">
                      <label for="airplaneType">Airplane type</label>
                      <ng-select [items]="types" formControlName="airplaneType"></ng-select>
                      <small *ngIf="flightDetailsForm.controls.airplaneType.errors?.required && flightDetailsForm.controls.airplaneType.touched" class="form-text text-danger">*Required</small>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <button type="submit" [disabled]="!flightDetailsForm.valid" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
                  <button *ngIf="flight | async as flight" type="button" class="btn btn-danger ml-2" (click)="onRemove(flight)">Remove</button>
              </div>
          </div>
      </form>
  </div>
</div>
