<div *ngIf="rentacarObservable | async; else loading" class="row mt-4 mb-4">
    <div class="col-6 text-center">
        <img src="../../../assets/img/rentacar/{{rentacar.image}}.png" class="card-img-top company-logo" alt="Logo of {{rentacar.name}}">
    </div>
    <div class="col-6 align-self-center">
        <h1>{{rentacar.name}}</h1>
        <p>
          <ngb-rating [rate]="1.5" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          <i class="fas fa-map-marker-alt ml-2"></i> {{rentacar.address}}</p>
        <p class="text-secondary">{{rentacar.description}}</p>
    </div>
</div>
  <div class="row mt-4 mb-4">
  
    <div  class="col-sm-12">
      <form [formGroup]="vehicleSearchForm" (ngSubmit)="onSubmit()">
    
        <div class="row">
            <div class="col-3">
              <div class="form-group">
                  <label for="pickupDateTime">Pickup Date & Time</label>
                  <input class="form-control" placeholder="Pick Date & Time"
                        [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1"
                        formControlName="pickupDateTime"
                        [min]="todayDate">
                  <owl-date-time #dtRange1></owl-date-time>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="dropoffDateTime">Dropoff Date & Time</label>
                    <input class="form-control" placeholder="Pick Date & Time"
                          [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2"
                          formControlName="dropoffDateTime"
                          [min]="todayDate">
                    <owl-date-time #dtRange2></owl-date-time>
                  </div>
            </div>
            <div class="col-3">
                <label>Pickup Location</label>
                <ng-select  [items]="locations"
                  formControlName="pickupLocation">
                </ng-select>
            </div>
            <div class="col-3">
                <label>Dropoff Location</label>
                <ng-select  [items]="locations"
                  formControlName="dropoffLocation">
                </ng-select>
            </div>
      </div>
      <div class="row">
          <div class="col-3">
              <label>Vehicle Type</label>
              <ng-select  [items]="types"
                formControlName="vehicleType">
              </ng-select>
          </div>
          <div class="col-3">
              <label>Passengers</label>
              <ng-select  [items]="passengers"
                formControlName="passengers">
              </ng-select>
          </div>
          <div class="col-3">
              <label>Price From</label>
              <ng-select  [items]="prices"
                formControlName="priceFrom">
              </ng-select>
          </div>
          <div class="col-3">
              <label>Price To</label>
              <ng-select  [items]="prices"
                formControlName="priceTo">
              </ng-select>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <button [disabled]="!vehicleSearchForm.valid" type="submit" class="btn btn-primary mt-4">Find Vehicles</button>
          </div>
      </div>
      </form>
    
    </div>
  </div>
  <div class="row">
    <div *ngFor="let vehicle of vehicles" class="col-sm-4 mt-4">
      <div class="card">
          <img src="../../../assets/img/vehicle/{{vehicle.image}}" class="card-img-top" alt="Picture of {{vehicle.brand}}">
        <div class="card-body text-center">
          <h5 class="card-title">{{vehicle.brand}} {{vehicle.model}}</h5>
          <p class="text-center mt-2"><ngb-rating [rate]="1.5" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating></p>
          <div class="row">
            <div class="col-md-6">
              <p class="card-text"><i class="far fa-calendar mr-2"></i>{{vehicle.yearOfProduction}}</p>
            </div>
            <div class="col-md-6">
              <p class="card-text"><i class="fas fa-male mr-2"></i>{{vehicle.numberOfSeats}}</p>
            </div>
          </div>
          <h6 class="oldPrice"><span class="badge badge-light">{{vehicle.pricePerDay}}€/day</span></h6>
          <h5 class="loweredPrice"><span class="badge badge-primary">{{vehicle.price}}€</span></h5>
          <button [disabled]="!isAfterFlightReservation()" class="btn btn-primary mt-4" type="button" (click)="reserveVehicle(vehicle)">Reserve</button>
          <p class="reservationDate mt-2" *ngIf="!isAfterFlightReservation()">Login / Book a flight before booking a car</p>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="isLoggedIn()">
    <h4 class="mt-4"> Quick Reservations: </h4>
    <div class="row">
      <div *ngFor="let carReservation of carReservations" class="col-sm-3 rentacar">
        <div class="card">
            <img src="../../../assets/img/vehicle/{{carReservation.image}}" class="card-img-top" alt="Picture of {{carReservation.brand}}">
          <div class="card-body text-center">
            <h5 class="card-title">{{carReservation.brand}} {{carReservation.model}}</h5>
            <p class="text-center mt-2"><ngb-rating [rate]="1.5" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating></p>
            <p class="reservationDate mt-2">{{carReservation.dateFrom | date: 'MMM d, y'}} - {{carReservation.dateTo | date: 'MMM d, y'}}</p>
            <div class="row">
              <div class="col-md-6">
                <p class="card-text"><i class="far fa-calendar mr-2"></i>{{carReservation.yearOfProduction}}</p>
              </div>
              <div class="col-md-6">
                <p class="card-text"><i class="fas fa-male mr-2"></i>{{carReservation.numberOfSeats}}</p>
              </div>
            </div>
            <h6 class="card-subtitle mb-2 text-muted oldPrice"><s>{{carReservation.pricePerDay}}€/day</s></h6>
            <h5 class="loweredPrice"><span class="badge badge-warning ml-1">{{carReservation.price}}€</span></h5>
            <button [disabled]="!isAfterFlightReservation()" class="btn btn-primary mt-4" type="button" (click)="reserveQuickVehicle(carReservation)">Reserve</button>
            <p class="reservationDate mt-2" *ngIf="!isAfterFlightReservation()">Login / Book a flight before booking a car</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  
  <ng-template #t let-fill="fill">
      <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
      </span>
  </ng-template>