<div *ngIf="branch" class="row">
  <div  class="col-sm-12">
      <form *ngIf="branch | async; else loading" [formGroup]="branchDetailsForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col-6">
                  <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="fas fa-long-arrow-alt-left"></i></button>
                  <h3 class="mt-4">Branch Office Details</h3>
              </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="city">City<span class="text-danger">*</span></label>
                    <input type="text" formControlName="city" class="form-control" placeholder="Enter City" required>
                    <small *ngIf="branchDetailsForm.controls.city.errors?.required && branchDetailsForm.controls.city.touched" class="form-text text-danger">*Required</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="address">Address<span class="text-danger">*</span></label>
                    <input type="text" formControlName="address" class="form-control" placeholder="Enter Address" required>
                    <small *ngIf="branchDetailsForm.controls.address.errors?.required && branchDetailsForm.controls.address.touched" class="form-text text-danger">*Required</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="rentACarId">Rent A Car Id<span class="text-danger">*</span></label>
                    <input type="text" formControlName="rentACarId" class="form-control" placeholder="Enter Rent A Car Id" required>
                    <small *ngIf="branchDetailsForm.controls.rentACarId.errors?.required && branchDetailsForm.controls.rentACarId.touched" class="form-text text-danger">*Required</small>
                </div>
            </div>
        </div>
          <div class="row">
              <div class="col-12">
                  <button type="submit" [disabled]="!branchDetailsForm.valid" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-secondary ml-2" (click)="onCancel()">Cancel</button>
                  <button *ngIf="branch | async as branch" type="button" class="btn btn-danger ml-2" (click)="onRemove(branch)">Remove</button>
              </div>
          </div>
      </form>
  </div>
</div>