
<div class="row admin-dashboard">
  <div class="col-3">
      <nav class="nav flex-column">
          <a class="nav-link" routerLink="hotel-profile">Company Profile</a>
          <a class="nav-link" routerLink="rooms">Rooms</a>
          <a class="nav-link" routerLink="amenities">Amenities</a>
          <a class="nav-link" routerLink="user-profile">Profile settings</a>
          <a class="nav-link" href="#">Reports</a>
        </nav>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
</div>
