#type {
  margin-bottom: 15px;
  margin-left: -15px;
}

#buttonSearch{
  margin-top: 25px;
}

.selectedFlight {
  border-left: 3px solid #007bff;
}

.card::hover {
  cursor: pointer;
  background: #f7f7f7;
}

#checkboxes input[type=checkbox]{
  display: none;
}

#checkboxes1 input[type=checkbox]{
  display: none;
}

