<div class="row mt-4 mb-4">
  <div class="col-12">
      <h3>Search flights</h3>
  </div>
</div>
<div class="row mt-4 mb-4">
  <div class="col">
    <form [formGroup]="flightResForm" (ngSubmit)="onSubmit()">
      <div class="row">
          <form [formGroup]="flightOptionForm">
            <div class="col">
              <div class="form-check form-check-inline">
                <label>
                  <input type="radio" value="round" formControlName="val" class="form-check-input">
                    <span class="form-check-label" >Round trip</span>
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label>
                  <input type="radio" value="one" formControlName="val" class="form-check-input">
                    <span class="form-check-label" >One way</span>
                </label>
              </div>
            </div>
          </form>
      </div>

      <div class="row">
          <div class="col">
              <label>Depart from</label>
              <ng-select [items]="airports"
                bindLabel="city"
                bindValue="id" formControlName="placeFromId">
              </ng-select>
              <small *ngIf="flightResForm.controls.placeFromId.errors?.required && flightResForm.controls.placeFromId.touched" class="form-text text-danger">*Required</small>
          </div>
          <div class="col">
              <label>Arrive at</label>
              <ng-select [items]="airports"
                bindLabel="city"
                bindValue="id" formControlName="placeToId">
              </ng-select>
              <small *ngIf="flightResForm.controls.placeToId.errors?.required && flightResForm.controls.placeToId.touched" class="form-text text-danger">*Required</small>
          </div>
          <div *ngIf="flightOptionForm.controls['val'].value == 'round'" class="col">
              <div class="form-group">
                <label for="placeFromId">Date<span class="text-danger">*</span></label>
                <input class="form-control" placeholder="Pick Date Range"
                        [style.width]="'350px'"
                        [selectMode]="'range'"
                        [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1"
                        formControlName="datePeriod">

                <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
              </div>
          </div>
          <div *ngIf="flightOptionForm.controls['val'].value == 'one'" class="col">
              <div class="form-group">
                <label for="placeFromId">Date<span class="text-danger">*</span></label>
                <input class="form-control" placeholder="Pick Date"
                        [style.width]="'350px'"
                        [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1"
                        formControlName="datePeriod">

                <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
              </div>
          </div>


          <div class="col">
            <label>Passengers</label>
            <select class="form-control form-control-sm" formControlName="passengers">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
            </div>

          <div class="col">
              <button id="buttonSearch" [disabled]="!flightResForm.valid" type="submit" class="btn btn-primary">Search</button>
          </div>
    </div>
    </form>
  </div>

</div>

<div class="row mt-4 mb-4">
  <div class="col-6">
    <h4>{{this.nameFlightFrom}} -> {{this.nameFlightTo}}</h4>
    <div *ngFor="let flight of flights">
        <!-- : selectedIndex == {{flight.}} -->
        <!-- (click)="setSelected(1)" -->
        <!-- [{{flight.aircompanyId}}, {{flight.id}}]) -->
      <div>
        <div class="card" id="checkboxes" [ngClass]="isSelected(flight.aircompanyId, flight.id) ? 'selectedFlight' : ''" for="blankCheckbox" style="width: 90%;">
          <label >
            <div class="card-body">

                <div class="row">
                  <!-- <div class="col-sm-4">
                      <h4 class="card-title">From: {{this.nameFlightFrom}}</h4>
                      <h4 class="card-title">To: {{this.nameFlightTo}}</h4>
                  </div> -->
                  <div class="col-sm-4">
                      <h6 class="card-title">Time begin: {{flight.timeBegin  | date: 'medium'}}</h6>
                      <h6 class="card-title">Time end: {{flight.timeEnd  | date: 'medium'}}</h6>
                      <h6 class="card-title"><i class="fas fa-plane icon"></i> {{flight.airplaneType}}</h6>
                  </div>
                  <div class="col-sm-4">
                      <h6 class="card-title">Price: {{flight.price}}</h6>
                      <h6 class="card-title">Aircompany: {{flight.aircompanyId}}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                      <a href="#" class="card-link text-center">Select</a>
                      <!-- <div class="form-check"> -->
                          <!-- flight.aircompanyId|flight.id -->
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="{{flight.aircompanyId}}|{{flight.id}}" (click)="selectSeatDep(flight.aircompanyId, flight.id, $event)">
                      <!-- </div> -->
                  </div>
                </div>

            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
      <h4>{{this.nameFlightTo}} -> {{this.nameFlightFrom}}</h4>
    <div *ngFor="let returnFlight of returnFlights">
        <div class="card" style="width: 90%;">
          <div class="card-body">

              <div class="row">
                <!-- <div class="col-sm-4">
                    <h4 class="card-title">From: {{this.nameFlightTo}}</h4>
                    <h4 class="card-title">To: {{this.nameFlightFrom}}</h4>
                </div> -->
                <div class="col-sm-4">
                    <h6 class="card-title">Time begin: {{returnFlight.timeBegin | date: 'medium'}}</h6>
                    <h6 class="card-title">Time end: {{returnFlight.timeEnd | date: 'medium'}}</h6>
                    <h6 class="card-title"><i class="fas fa-plane icon"></i> {{returnFlight.airplaneType}}</h6>
                </div>
                <div class="col-sm-4">
                    <h6 class="card-title">Price: {{returnFlight.price}}</h6>
                    <h6 class="card-title">Aircompany: {{returnFlight.aircompanyId}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="card-link text-center">Select</a>
                </div>
              </div>

          </div>
        </div>
    </div>
  </div>
</div>




